<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DS_AlgoTestNG Suite">
  <test name="DSAlgoTestNG">
<classes>
<class name="numpyninja.dsalgo.testcases.GetStartedTestCase"></class>
<!--  class name="numpyninja.dsalgo.testcases.HomePageTestCase"></class-->
<!-- class name="numpyninja.dsalgo.testcases.SignInTestCase"/-->

</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->
